.title {
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: rgb(104, 196, 226);
  margin-top: 20px;
  width: 500px;
  margin-left: 400px;
  border-radius: 20px;
}

.checkout img{
  width: 600px;
  height: 450px;
  margin-left: 350px;
  border-radius: 20px;
}
